.blogsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogArea {
    width: 80%;
    margin-bottom: 20px;
    resize: vertical;
    border: 2px solid darkred;
    border-radius: 4px;
}

.hrObject {
    width: 80%;
}