
.gameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid black;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.imageItem {
    width: 200px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1400px;
}

.textItem {
    text-align: justify;
    line-height: 1.5;
}

.buttonItem {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin-top: 8px;
    padding: 10px;
    text-decoration: none;
}

.buttonItem:hover {
    color: lightgray;
    font-size: 17px;
}

@media (max-width: 500px) {
    .imageContainer {
        padding: 10px;
    }

    .imageItem {
        width: 80px;
    }

    .textContainer {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (min-width: 501px) and (max-width: 800px) {
    .imageContainer {
        padding: 15px;
    }

    .imageItem {
        width: 140px;
    }

    .textContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1600px) {
    .imageContainer {
        padding: 30px;
    }

    .imageItem {
        width: 300px;
    }

    .textContainer {
        padding-left: 60px;
        padding-right: 60px;
    }
}