
.gamepadPosition {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divText {
    margin-top: 30px;
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

.marquee {
    height: 260px;
    width: 100%;
    z-index: 0;
  
    margin-top: 40px;
    overflow: hidden;
    position: relative;
}

.marqueeimage {
    height: 260px;
    width: 100%;
}

.marqueeone, .marqueetwo, .marqueethree, .marqueefour {
    margin: 0 1rem 0 1rem;
}

.marquee .marqueeone{
    animation: marquee 24s linear 0s infinite;
}
  
.marquee .marqueetwo{
    animation: marquee 24s linear 6s infinite;
}
  
.marquee .marqueethree{
    animation: marquee 24s linear 12s infinite;
}

.marquee .marqueefour{
    animation: marquee 24s linear 18s infinite;
}

.marquee div {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 260px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.marquee:hover div {
    animation-play-state: paused;
}
  
@keyframes marquee {
    0% { left: 100%; }
    50% { left: -100%; }
    100% {left: -100%; }
}


@media (max-width: 400px) {
    .divText {
        width: 90%;
    }

    .marquee {
        height: 100px;
        margin-top: 10px;
    }

    .marqueeimage {
        height: 100px;
        width: auto;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .divText {
        width: 80%;
    }

    .marquee {
        height: 120px;
        margin-top: 10px;
    }

    .marqueeimage {
        height: 120px;
        width: auto;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .divText {
        width: 60%;
    }

    .marquee {
        height: 180px;
        margin-top: 20px;
    }

    .marqueeimage {
        height: 180px;
        width: auto;
    }
}