h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

th, td, table {
    border: 2px solid black;
}

th {
    background-color: gray;
}

th, td {
    padding: 2px;
}

h2, h3, h4, h5, h6, p {
    text-align: center;
}

.left {
    text-align: left;
}

.startPage {
    padding-top: 80px;
}

body {
    background-color: lightgray;
}

.pixel-font {
    font-family: "Press Start 2P", cursive;
}

.gameText {
    background: -webkit-linear-gradient(darkred, darkblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.winText {
  font-size: 50px;
  background: -webkit-linear-gradient(gold, brown);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snakeGame {
    background: -webkit-repeating-radial-gradient(lightgreen, darkgreen, lightgreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.otherText {
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 400px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    p, th, td, button, textarea {
        font-size: 12px;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    p, th, td, button, textarea {
        font-size: 14px;
    }
}


@media (min-width: 1200px) and (max-width: 1599px){
    p, th, td, textarea {
        font-size: 18px;
    }
}

@media (min-width: 1600px) and (max-width: 1999px){
    h1 {
        font-size: 46px;
    }

    p, th, td, textarea {
        font-size: 20px;
    }
}

@media (min-width: 2000px) and (max-width: 2599px){
    h1 {
        font-size: 50px;
    }

    p, th, td, textarea {
        font-size: 22px;
    }
}

@media (min-width: 2600px) {
    h1 {
        font-size: 54px;
    }

    p, th, td, textarea {
        font-size: 24px;
    }
}