.toggleInput {
    width: 384px;
    border: 2px solid black;
    border-radius: 4px;
}

@media (min-width: 400px) and (max-width: 600px) {
    .toggleInput {
        width: 300px;
    }
}

@media (max-width: 399px) {
    .toggleInput {
        width: 250px;
    }
}