.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroBorder {
    width: 680px;
    height: auto;
    background-color: azure;
    border: 3px solid black;
    margin-top: 20px;
}

.heroCanvas {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.heroName {
    color: goldenrod;
}

.heroImage {
    margin: 15px;
    width: auto;
    height: 460px;
}

.interfaceField {
    width: 300px;
}

.header {
    margin-top: 40px;
}

.buttonsField {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upgradeField {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallButton {
    width: 120px;
}

.buttonsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.heroButton {
    border: 2px solid black;
    font-size: 18px;
    padding-top: 6px; 
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
    text-decoration: none;
}

.pauseStart:hover, .restart:hover {
    border: 2px solid darkgray;
}

.restart {
    background-color: darkgray;
}

@media (min-width: 601px) and (max-width: 800px) {
    .heroImage {
        height: 340px;
    }

    .heroBorder {
        width: 540px;
    }

    .header {
        margin-top: 30px;
    }

    .smallButton {
        width: 110px;
    }
}

@media (max-width: 600px) {
    .heroCanvas {
        justify-content: center;
        flex-direction: column;
    }

    .header {
        margin-top: 20px;
    }

    .buttonsField {
        justify-content: space-evenly;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .heroImage {
        margin: 4px;
        height: 250px;
    }

    .heroBorder {
        width: 86%;
    }

    .smallButton {
        width: 105px;
    }
}

@media (max-width: 400px) {
    .heroImage {
        margin: 0px;
        height: 240px;
    }

    .heroBorder {
        width: 94%;
    }

    .smallButton {
        width: 100px;
    }
}