.snakeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    margin: 0;
}

.snakeCanvas {
    border: 1px solid darkgray;
    margin: 20px 2px 2px;
}

/* CONTROLLER */

.controller {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.buttonMIDDLE {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.buttonUP, .buttonLEFT, .buttonRIGHT, .buttonDOWN, .buttonCENTER {
    width: 60px;
    font-size: 30px;
    background-color: black;
    border: 2px solid black;
    color: white;
}

.buttonUP, .buttonLEFT, .buttonRIGHT, .buttonDOWN, .buttonCENTER {
    padding: 12px 0px 12px;
}


/* START/RESTART/SETTINGS */

.buttonsContainer {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
}

.snakeButton {
    border: 2px solid black;
    font-size: 18px;
    padding-top: 6px; 
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
    text-decoration: none;
}

.pauseStart:hover, .restart:hover, .settings:hover {
    border: 2px solid darkgray;
}

.restart {
    background-color: darkgray;
}

.settings {
    background-color: lightblue;
}

.overlayPanel {
    width: 300px;
    height: 420px;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(223, 223, 223, 0.9);
    border: 3px solid lightblue;
    border-radius: 5px;
    padding: 8px;
    padding-top: 0;
    z-index: 1000;
    
}

.overlayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayLabel {
    margin-top: 24px;
}

.applyButton {
    margin-top: 40px;
    border: 2px solid black;
    padding: 8px;
    text-decoration: none;
}

@media (max-width: 440px) {
    .overlayLabelDisable {
        display: none;
    }

    .overlayPanel {
        height: 330px;
    }
}